<style>
#b1{color:Red}

</style>

<app-header (featureSelected)="onNavigate($event)"></app-header>

<div class="row Mystyle">
    <br>
    <br>    
    <br>
    <br>
    <br>
    
   
    <div class="col-xs-4">
        <img src="assets/images.jpeg" alt="Avatar">

        <h4> Nikhil Agrawal</h4>
        <article>Email:<i> nikhilagrawal223@gmail.com</i></article>
     <br>

    </div>
    <div class="col-xs-4">
        <img src="assets/images.jpeg" alt="Avatar">

        <h4>Saurabh Rudrawar</h4>
        <article>Email:<i> saurabh.rudrawar16@vit.edu</i></article>
    </div>
    <div class="col-xs-4">
       <img src="assets/images.jpeg" alt="Avatar">

        <h4> Dinesh Hebare</h4>
        <article>Email:<i> dinesh.hebare16@vit.edu</i></article>
    </div>
</div>